@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
    width: 100%;
    box-sizing: border-box;
    padding: 100px 5%;
    margin: 0;
    background-color: hsl(20, 50%, 98%);
    font-family: "Red Hat Text", sans-serif;
}

.main-sections {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.product-section {
}

.product-section > h1 {
    font-size: 44px;
    color: hsl(14, 65%, 9%);
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product.added > img {
    border: 3px solid hsl(14, 86%, 42%);
}

.product > img {
    max-width: 100%;
    border-radius: 15px;
}

.product > button {
    background-color: white;
    border-color: hsl(14, 86%, 42%);
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px;
    width: 50%;
    height: 60px;
    align-self: center;
    cursor: pointer;
    margin-top: -35px;
    font-size: 16px;
    color: hsl(14, 65%, 9%);
}

.product > button > .default-side {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.product > button > .hover-side {
    display: none;
    align-items: center;
    justify-content: space-between;
}

.product > button:hover {
    background-color: hsl(14, 86%, 42%);
    color: white;
}

.product > button:hover > .default-side {
    display: none;
}

.product > button:hover > .hover-side {
    display: flex;
}

.hover-side > svg {
    height: 26px;
    width: 26px;
    border-radius: 15px;
    border: 1px solid white;
    padding: 5px;
    box-sizing: border-box;
    align-self: center;
}

.hover-side > svg:hover {
    border: 1px solid hsl(14, 86%, 42%);
    background-color: white;
    stroke: hsl(14, 86%, 42%);
}

.product > h4 {
    font-weight: normal;
    color: hsl(7, 20%, 60%);
    margin: 0;
}

.product > h2 {
    font-size: 24px;
    color: hsl(14, 65%, 9%);
    margin: 0;
}

.product > h3 {
    margin: 0;
    color: hsl(14, 86%, 42%);
}

.cart-section {
    width: 33%;
}

.cart {
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cart > h1 {
    margin: 0%;
    color: hsl(14, 86%, 42%);
    font-size: 28px;
}

.empty-cart-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.empty-cart-msg > h2 {
    margin: 0;
    color: hsl(12, 20%, 44%);
    font-weight: normal;
    font-size: 14px;
}

.cart-items {
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid hsl(14, 25%, 72%);
    padding: 15px 0;
}

.order-total {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cart-item-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-item-description > h1 {
    color: hsl(14, 65%, 9%);
    font-size: 16px;
    margin: 0;
}

.cart-item-price > .quantity {
    color: hsl(14, 86%, 42%);
    font-weight: bold;
    margin-right: 3px;
}

.cart-item-price > .singular-price {
    color: hsl(7, 20%, 60%);
}

.cart-item-price > .total-price {
    color: hsl(12, 20%, 44%);
    font-weight: bold;
}

.cart-item > svg {
    padding: 5px;
    align-self: center;
    border: 1px solid #caafa7;
    border-radius: 15px;
    cursor: pointer;
}

.cart-item > svg:hover {
    border: 1px solid hsl(12, 20%, 44%);
    stroke: hsl(12, 20%, 44%);
}

.order-total > h2 {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    color: hsl(12, 20%, 44%);
}

.order-total > h1 {
    margin: 0;
    color: hsl(14, 65%, 9%);
}

.carbon-neutral-message {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: hsl(20, 50%, 98%);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
}

.carbon-neutral-message > img {
    height: 20px;
}

.carbon-neutral-message > p {
    margin: 0;
    font-size: 14px;
}

.confirm-order {
    color: white;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: hsl(14, 86%, 42%);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.confirm-order:hover {
    background-color: hsl(12, 20%, 44%);
}

.confirmation-message-container {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.confirmation-message {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.confirmation-message > img {
    width: 50px;
}

.confirmation-message-header > h1 {
    color: hsl(14, 65%, 9%);
}

.confirmation-message-header > p {
    color: hsl(12, 20%, 44%);
}

.order-details {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    background-color: hsl(20, 50%, 98%);
    border-radius: 10px;
    gap: 10xp;
}

.ordered-item {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 1px solid hsl(13, 31%, 94%);
    align-items: center;
    gap: 15px;
}

.ordered-item > img {
    width: 80px;
    height: 80px;
}

.ordered-item > .total-price {
    font-size: 18px;
    color: hsl(14, 65%, 9%);
    margin-left: auto;
}

.item-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.item-details > h1 {
    font-size: 16px;
    color: hsl(14, 65%, 9%);
    margin: 0;
}

.item-details > .price-and-quantity > .quantity {
    color: hsl(14, 86%, 42%);
    font-weight: bold;
}

.item-details > .price-and-quantity > .price {
    color: hsl(12, 20%, 44%);
}

.order-details > .order-total {
    margin-top: 15px;
    color: hsl(14, 65%, 9%);
}

.order-details > .order-total > h1 {
    font-size: 28px;
}

#confirmation-message {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .products {
        grid-template-columns: 1fr;
    }
    .main-sections {
        flex-direction: column;
    }
    .cart-section {
        width: 100%;
    }
}
